.container{
    width: 100%;
    max-width: 100%;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 0.1em;
    margin: 0 auto;
    font-size: 20px;
    overflow: hidden;
    background: #222426;
    min-height: 100vh;
    grid-template-areas: 
    "encabezado"
    "content"
    "rodapie";

    overflow: scroll;
      
}


