
.social-icons{
	display: flex;
	height: 20vh;
	align-items: center;
	justify-content: center;
	padding: 2px;
}

.social-icons ul li {
	display: inline-block;
	margin: 0 5px;
	width: 40px;
	height: 100px;
	text-align: justify;

}

.skills-icons{
	display: flex;
	height: 20vh;
	align-items: center;
	justify-content: center;
}

.skills-icons ul li{
	display: inline-block;
	margin: 0 10px;
	width: 50px;
	height: 100px;
	text-align: justify;

}
	